# Unreal Engine build folders
Binaries
DerivedDataCache
Intermediate
Saved
Build

# IDE / editor files
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Ignore all .pch and .pdb files (通配符)
*.pch
*.pdb
